---
layout: layout.liquid
title: 11ty Boilerplate
---

<main>
    <div class="module one">One</div>
	<div class="module two">Two</div>
	<div class="module three">Three</div>
	<div class="module four">Four</div>
	<div class="module five">Five</div>
    <div class="module six">Six</div>
    <div class="module seven">Seven</div>
    <div class="module eight">Eight</div>
    <div class="module nine">Nine</div>
</main>