---
layout: layout.liquid
title: 11ty Boilerplate
---

<main>
    <div class="module one">
        <div class="content">
            <div class="title">Sun</div>
            <div class="sub">Type G2V</div>
        </div>
    </div>
	<div class="module two">
        <div class="content">
            <div class="title">Mercury</div>
            <div class="sub">0.39 AU</div>
        </div>
    </div>
	<div class="module three">
        <div class="content">
            <div class="title">Venus</div>
            <div class="sub">0.72 AU</div>
        </div>
    </div>
	<div class="module four">
        <div class="content">
            <div class="title">Earth</div>
            <div class="sub">1.00 AU</div>
        </div>
    </div>
	<div class="module five">
        <div class="content">
            <div class="title">Mars</div>
            <div class="sub">1.52 AU</div>
        </div>
    </div>
    <div class="module six">
        <div class="content">
            <div class="title">Jupiter</div>
            <div class="sub">5.20 AU</div>
        </div>
    </div>
    <div class="module seven">
        <div class="content">
            <div class="title">Saturn</div>
            <div class="sub">9.5 AU</div>
        </div>
    </div>
    <div class="module eight">
        <div class="content">
            <div class="title">Uranus</div>
            <div class="sub">19.2 AU</div>
        </div>
    </div>
    <div class="module nine">
        <div class="content">
            <div class="title">Neptune</div>
            <div class="sub">30.1 AU</div>
        </div>
    </div>
</main>