:root {
    --header-color: #4c9f70;
    --text-color: #0d1f22;
    --text-size: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--header-color);
    font-size: var(--text-size);
    background: #f8f0fb;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 40px;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 325px;
    gap: 20px 40px;
    background: #f8f0fb;
    margin-left: 20px;
    margin-top: 20px;
}

.module {
    background: #cad5ca;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.module.one {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    height: 650px;
}

.module::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #847577;
    border-radius: 50%;
}

.module.one::before {
    width: 100px;
    height: 100px;
}