:root {
    --header-color: #4c9f70;
    --text-color: #0d1f22;
    --text-size: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--header-color);
    font-size: var(--text-size);
    background: #f8f0fb;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 40px;
}